* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 4000;
  font-style: normal;
}

body{
  margin:0;
  background:#2ec4b6;
  font-family:'Montserrat', sans-serif;
  color:whitesmoke;
}

.navbar {
  background: #111115;
  width: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10%;
  max-width: 1400px;
  margin: auto;
}

/* Logo */
.nav-logo {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
}

.nav-logo span {
  color: #f39c12;
}

/* Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li {
  display: inline-block;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  background:linear-gradient(90deg,#ff2d2d,#ff9f1a);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

/* CTA Button */
.nav-cta {
   background:linear-gradient(90deg,#ff2d2d,#ff9f1a);
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s;
}

.nav-cta:hover {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}

/* Basic Responsiveness (just spacing) */
@media (max-width: 900px) {
  .nav-container {
    padding: 15px 5%;
  }

  .nav-links {
    gap: 15px;
  }

  .nav-cta {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}

/* HERO SECTION */
.hero{
  min-height:100vh;
  display:flex;
  align-items:center;
  padding:0 80px;
  background:
    radial-gradient(circle at 30% 0%, #111 0%, transparent 40%),
    radial-gradient(circle at 80% 20%, #1a0b0b 0%, transparent 35%),
    #2ec4b6;
}

.hero-text{
  max-width:600px;
}

/* TITLE */
.hero h1{
  font-size:64px;
  line-height:1.05;
  font-weight:900;
  margin-bottom:28px;
}

.hero h1 span{
  background:linear-gradient(90deg,#ff2d2d,#ff9f1a);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

/* DESCRIPTION */
.hero p{
  font-size:19px;
  color:black;
  margin-bottom:42px;
  max-width:520px;
}

/* BUTTON */
.btn{
  display:inline-block;
  padding:16px 36px;
  border-radius:50px;
  background:linear-gradient(90deg,#ff2d2d,#ff9f1a);
  color:#fff;
  font-weight:800;
  letter-spacing:.5px;
  text-decoration:none;
  box-shadow:0 0 40px rgba(255,45,45,.45);
  transition:.4s;
}

.btn:hover{
  transform:translateY(-4px) scale(1.05);
  box-shadow:0 0 60px rgba(255,45,45,.7);
}

/* MOBILE */
@media(max-width:768px){
  .hero{
    padding:0 28px;
  }
  .hero h1{
    font-size:44px;
  }
}

/* HEADER */
.header{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  padding:28px 80px;
  z-index:100;
  background:linear-gradient(
    to bottom,
    rgba(5,5,7,.85),
    rgba(5,5,7,0)
  );
}

/* PROGRAMS SECTION */
.programs{
  padding:120px 80px;
  background:#2ec4b6;
}

/* HEADER */
.programs-header{
  max-width:600px;
  margin-bottom:80px;
}

.programs-header h2{
  font-size:52px;
  font-weight:900;
  margin-bottom:20px;
  background:linear-gradient(90deg, #ff2d2d, #ff9f1a);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;

  background-clip:text; /* для інших браузерів */
  color:transparent;
}

.programs-header p{
  font-size:18px;
  color:black;
}

/* GRID */
.programs-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:40px;
}

/* CARD */
.program-card{
  background:#111115;
  padding:40px;
  border-radius:24px;
  transition:.5s ease;
  cursor:pointer;

  opacity:0;
  transform:translateY(40px);
  animation:fadeUp .8s ease forwards;
}

.program-card:nth-child(2){ animation-delay:.15s; }
.program-card:nth-child(3){ animation-delay:.3s; }

.program-card:hover{
  transform:translateY(-12px);
  box-shadow:0 20px 60px rgba(0,0,0,.6);
}

/* TEXT */
.program-card h3{
  font-size:28px;
  font-weight:800;
  margin-bottom:14px;
}

.program-card p{
  font-size:16px;
  color:whitesmoke;
  margin-bottom:28px;
}

.program-card span{
  font-weight:700;
  background:linear-gradient(90deg,#ff2d2d,#ff9f1a);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

/* ANIMATION */
@keyframes fadeUp{
  to{
    opacity:1;
    transform:translateY(0);
  }
}

/* MOBILE */
@media(max-width:900px){
  .programs{
    padding:100px 28px;
  }

  .programs-grid{
    grid-template-columns:1fr;
  }

  .programs-header h2{
    font-size:40px;
    color: #071412;
  }
}

.cta-brand{
  display:block;
  margin-bottom:28px;
  font-weight:800;
  letter-spacing:2px;
  text-transform:uppercase;
  opacity:.85;
}

.cta-box h2{
  font-size:64px;
  font-weight:900;
  line-height:1.05;
  margin-bottom:28px;
}

.cta-box p{
  font-size:20px;
  margin-bottom:46px;
}

.cta-btn:hover{
  transform:translateY(-4px) scale(1.05);
  box-shadow:0 20px 50px rgba(0,0,0,.3);
}


@keyframes ctaFade{
  to{
    opacity:1;
    transform:translateY(0);
  }
}

.systems{
  padding:140px 80px;
  background:#2ec4b6;
}


.systems-header{
  max-width:600px;
  margin-bottom:90px;
}

.systems-header h2{
  font-size:52px;
  font-weight:900;
  margin-bottom:20px;
  background:linear-gradient(90deg, #ff2d2d, #ff9f1a);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;

  background-clip:text; /* для інших браузерів */
  color:transparent;
}

.systems-header p{
  font-size:18px;
  color:#000;
}


.systems-list{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:60px;
}


.system-item{
  padding-top:24px;
  border-top:1px solid whitesmoke;

  opacity:0;
  transform:translateY(30px);
  animation:systemsFade .8s ease forwards;
}

.system-item:nth-child(2){ animation-delay:.15s; }
.system-item:nth-child(3){ animation-delay:.3s; }


.system-item h3{
  font-size:28px;
  font-weight:800;
  margin-bottom:16px;
  color: #081816;
}


.system-item p{
  font-size:17px;
  color:black;
  max-width:300px;
}


@keyframes systemsFade{
  to{
    opacity:1;
    transform:translateY(0);
  }
}


@media(max-width:900px){
  .systems{
    padding:110px 28px;
  }

  .systems-list{
    grid-template-columns:1fr;
    gap:48px;
  }

  .systems-header h2{
    font-size:40px;
  }
}

/* MARK: Тут поправити padding та justify забрати*/
.cta-wrapper{
  /* padding:160px 80px; */
  background:#2ec4b6;
  display:flex;
  /* justify-content:center; */
}

/* MARK: border-radius, max-width (забираємо бо нам потрібно 100% ширини) */
/* ну і звичайно Padding забираємо для вигляду на 100% ширину */
.cta-box{
  /* max-width:720px; */
  width: 100%;
  height: 500px;
  /* padding:80px 60px; */
  /* border-radius:32px; */
  text-align:center;
  color:#fff;

  position:relative; 
  overflow:hidden;

  box-shadow:0 40px 120px rgba(0,0,0,.6);

  opacity:0;
  transform:translateY(40px);
  animation:ctaFade 1s ease forwards;
}


.video-bg video{
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  object-fit:cover; 
  /* MARK: Фейд відео */
  /* Для фейду на відео потрібен z-index: 0; */
  z-index: 0;
}


.video-bg::before{
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  /* Замість просто чорного (чорно/білий градієнт) */
  /* Це покращить видимість тексту "JustMove" */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.2) 40%,
    rgba(255, 255, 255, 0.25) 100%
  );

  /* filter: blur(5px); */

  pointer-events: none;
}


.video-bg > *{
  position:relative;
  z-index:2;
}

/* Оскільки Just move напис на відео без padding */
/* буде в самому верху -- змінюємо margin-bottom на margin-top */
.cta-brand{
  display:block;
  margin-top:28px;
  font-weight:800;
  letter-spacing:2px;
  text-transform:uppercase;
  opacity:.85;
}

.cta-box h2{
  font-size:64px;
  font-weight:900;
  line-height:1.05;
  margin-bottom:28px;
}

.cta-box p{
  font-size:20px;
  margin-bottom:46px;
}

.cta-btn{
  display:inline-block;
  padding:18px 54px;
  border-radius:50px;
  background:#fff;
  color:black;
  font-weight:900;
  font-size: 18px;
  text-decoration:none;
  transition:.35s ease;
}

@media(max-width:768px){
  .cta-wrapper{
    padding:120px 24px;

  }

  .cta-box{
    padding:60px 32px;
  }

  .cta-box h2{
    font-size:42px;
  }
}
/* FOOTER */
.footer{
  background:#111115;
  color:white;
  padding:100px 80px 40px;
}

/* INNER */
.footer-inner{
  display:grid;
  grid-template-columns:2fr 1fr 1fr;
  gap:80px;
  padding-bottom:60px;
  border-bottom:1px solid whitesmoke;
}

/* BRAND */
.footer-brand h3{
  font-size:28px;
  font-weight:900;
  margin-bottom:14px;
  color:white;
}

.footer-brand p{
  font-size:16px;
  color:white;
}

/* LINKS */
.footer-links{
  display:flex;
  flex-direction:column;
  gap:16px;
}

.footer-links a{
  color:white;
  text-decoration:none;
  font-weight:600;
  transition:.3s;
}

.footer-links a:hover{
  opacity:1;
  transform:translateX(4px);
}

/* CONTACT */
.footer-contact{
  display:flex;
  flex-direction:column;
  gap:14px;
}

.footer-contact p{
  color:white;
}

.footer-contact a{
  color:whitesmoke;
  text-decoration:none;
  font-weight:500;
  transition:.3s;
  opacity: .8;
}

.footer-contact a:hover{
  opacity:1;
}

/* BOTTOM */
.footer-bottom{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-top:32px;
  font-size:14px;
  color:whitesmoke;
}

/* POLICY */
.footer-policy{
  display:flex;
  gap:28px;
}

.footer-policy a{
  color:whitesmoke;
  text-decoration:none;
  opacity:.8;
  transition:.3s;
}

.footer-policy a:hover{
  opacity:1;
}

/* MOBILE */
@media(max-width:900px){
  .footer{
    padding:80px 28px 36px;
  }

  .footer-inner{
    grid-template-columns:1fr 1fr;
    gap:48px;
  }

  .footer-bottom{
    flex-direction:column;
    gap:18px;
    text-align:center;
  }
}

/* TESTIMONIALS */
.testimonials{
  background:#2ec4b6;
  padding:140px 80px;
  color:#081816;
}

/* HEADER */
.testimonials-header{
  max-width:600px;
  margin-bottom:80px;
}

.testimonials-header h2{
  font-size:48px;
  font-weight:900;
  margin-bottom:16px;
  background:linear-gradient(90deg, #ff2d2d, #ff9f1a);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;

  background-clip:text; /* для інших браузерів */
  color:transparent;
}

.testimonials-header p{
  font-size:18px;
}

/* LIST */
.testimonials-list{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:48px;
}

/* CARD */
.testimonial-card{
  background:#cbf3f0;
  backdrop-filter:blur(6px);
  padding:40px 36px;
  border-radius:28px;

  box-shadow:0 30px 80px rgba(0,0,0,.15);
  transition:.4s ease;
}

.testimonial-card:hover{
  transform:translateY(-8px);
}

/* TEXT */
.testimonial-text{
  font-size:18px;
  line-height:1.6;
  margin-bottom:32px;
}

/* AUTHOR */
.testimonial-author{
  display:flex;
  align-items:center;
  gap:16px;
}

.testimonial-author img{
  width:54px;
  height:54px;
  border-radius:50%;
  object-fit:cover;
}

.testimonial-author strong{
  display:block;
  font-size:16px;
}

.testimonial-author span{
  font-size:14px;
}

/* MOBILE */
@media(max-width:900px){
  .testimonials{
    padding:110px 28px;
  }

  .testimonials-list{
    grid-template-columns:1fr;
    gap:32px;
  }

  .testimonials-header h2{
    font-size:38px;
  }
}

/* SERVICES */
.services{
  background:#2ec4b6;
  padding:140px 80px;
  color:#081816;
}

/* HEADER */
.services-header{
  max-width:650px;
  margin-bottom:80px;
}

.services-header h2{
  font-size:48px;
  font-weight:900;
  margin-bottom:16px;
  background:linear-gradient(90deg, #ff2d2d, #ff9f1a);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;

  background-clip:text; /* для інших браузерів */
  color:transparent;
}

.services-header p{
  font-size:18px;
  color: #000;
}

/* LIST */
.services-list{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:36px;
}

/* CARD */
.service-card{
  background:#cbf3f0;
  backdrop-filter:blur(6px);
  border-radius:28px;
  padding:48px 36px;

  box-shadow:0 30px 80px rgba(0,0,0,.15);
  transition:.4s ease;
}

.service-card:hover{
  transform:translateY(-10px);
}

/* TEXT */
.service-card h3{
  font-size:22px;
  font-weight:800;
  margin-bottom:16px;
}

.service-card p{
  font-size:17px;
  line-height:1.6;
  color: #fff;
}

/* MOBILE */
@media(max-width:1000px){
  .services{
    padding:110px 28px;
  }

  .services-list{
    grid-template-columns:1fr;
    gap:28px;
  }

  .services-header h2{
    font-size:38px;
  }
}

.pricing{
  background:#2ec4b6;
  padding:140px 80px;
  color:#081816;
}

.pricing-header{
  max-width:600px;
  margin-bottom:80px;
  
}

.pricing-header h2{
  font-size:48px;
  font-weight:900;
  background:linear-gradient(90deg, #ff2d2d, #ff9f1a);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;

  background-clip:text; /* для інших браузерів */
  color:transparent;
}

.pricing-header p{
  margin-top:16px;
  font-size:18px;
}

.pricing-list{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:40px;
  color: #fff;
}

.pricing-card{
  background:#050507;
  border-radius:32px;
  padding:50px 40px;
  box-shadow:0 30px 80px rgba(0,0,0,.15);
}

.pricing-card.featured{
  transform:scale(1.05);
}

.price{
  font-size:28px;
  font-weight:900;

  background:linear-gradient(90deg, #ff2d2d, #ff9f1a);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;

  background-clip:text; /* для інших браузерів */
  color:transparent;
}


.pricing-card ul{
  list-style:none;
  padding:0;
  color: #fff;
}

.pricing-card li{
  margin-bottom:14px;
  font-weight:600;
  color: #fff;
}

/* MOBILE */
@media(max-width:1000px){
  .pricing{
    padding:110px 28px;
  }

  .pricing-list{
    grid-template-columns:1fr;
  }
}

.service-card *{
  position:relative;
  z-index:1;
}

.service-card::before{
  content:"";
  position:absolute;
  inset:0;
  background:linear-gradient(
    rgba(124, 123, 123, 0.192)
  );
  z-index:0;
}

.service-card{
  position:relative;
  border-radius:28px;
  padding:48px 36px;
  color:#fff;
  overflow:hidden;

  display:flex;
  flex-direction:column;
  gap:16px;
  justify-content:flex-end;

  min-height:320px;
}

.service-card.boxing{
  background:url("./images/boxing.jpg") center/cover no-repeat;
}

.service-card.doingthings{
  background:url("./images/doing\ things.jpg") center/cover no-repeat;
}

.service-card.doingsomething{
  background:url("./images/doing\ something.jpg") center/cover no-repeat;
}

.service-card.running{
  background:url("./images/running.jpg") center/cover no-repeat;
}




